@model CRUDASP.Models.Usuario
@{
    ViewData["Title"] = "Crear usuario";
}



<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-success">
                <h3 class="text-white">
                    <strong>Nuevo Usuario</strong>
                </h3>
            </div>
            <card_body>
                <form asp-action="CrearUsuario" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NombreUsuario" class="control-label"></label>
                        <input asp-for="NombreUsuario" class="form-control" placeholder="Nombre Usuario" />
                        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contrasenna" class="control-label"></label>
                        <input asp-for="Contrasenna" class="form-control" placeholder="Contraseña" />
                        <span asp-validation-for="Contrasenna" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-success d-block mx-auto">
                            <i class="bi bi-person-fill"></i> Crear Usuario
                        </button>
                    </div>
                </form>
                <a asp-controller="Inicio" asp-action="Index">Regresar</a>
            </card_body>

        </div>
    </div>

</div>
