@model CRUDASP.Models.Contacto
@{
    ViewData["Title"] = "Eliminar Usuario";
}


<!-- Modal ELiminar-->
<div class="modal fade" id="ModalEliminar-@Model.ID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h3 class="text-white">
                    <strong>Eliminar Usuario</strong>
                </h3>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="offset-12">
                        <div class="card ">
                           
                            <card_body>
                                <form asp-action="Eliminar" method="post" class="text-black">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        
                                        <input asp-for="ID" class="form-control" placeholder="ID" type="hidden" />
                                        <span asp-validation-for="ID" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Nombre" class="control-label"></label>
                                        <input asp-for="Nombre" class="form-control" placeholder="Ingresa Nombre" />
                                        <span asp-validation-for="Nombre" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Telefono" class="control-label"></label>
                                        <input asp-for="Telefono" class="form-control" placeholder="Ingresa Telefono" />
                                        <span asp-validation-for="Telefono" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control" placeholder="Ingresa Email" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mt-3 ">
                                    
                                        <button type="submit" class="btn btn-danger" d-block mx-auto"><i class="bi bi-trash"></i> Eliminar Usuario</button>
                                      
                                    </div> 
                                   
                                </form>

                            </card_body>

                        </div>
                    </div>

                </div>
               
            </div>

        </div>
    </div>
</div>




